/*
*@Name: layuiUniversalCompany - 通用企业公司网站模板
*@Author: xuzhiwen
*@Copyright:layui.com
*/

/*base*/
.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    font: 12px/1.5 PingFangSC-Regular, Tahoma, 'Microsoft Yahei', sans-serif;
}

.padding0 {
    padding: 0;
}

.pb50 {
    padding: 0 0 50px 0;
}

.layui-carousel > [carousel-item] > * {
    height: auto;
}

.layui-carousel-ind {
    margin-top: -20px;
    top: auto;
    bottom: 10px;
}

/*header*/
.header_box {
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #e8ebf2;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header h1 {
    display: inline-block;
    padding-left: 35px;
}

.header .nav {
    font-size: 14px;
    text-align: right;
    display: inline-flex;
    vertical-align: top;
    float: right;
}

.header .nav a {
    color: #010101 !important;
    display: inline-block;
    padding: 0 35px;
}

.header .nav a.active {
    color: #ab8e75 !important;
}

.header .nav a:hover {
    color: #ab8e75 !important;
    border-bottom: 2px solid #ab8e75;
}

.app-header {
    display: none;
}

.app-header-menuicon {
    display: block;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-align: center;
}

.app-header-menuicon i {
    font-size: 30px;
}

.header-down-nav {
    display: none;
}

/*end-header*/

/*footer*/
.footer {
    background: #231f20;
    text-align: center;
    padding: 65px;
}

.footer .line {
    width: 220px;
    height: 2px;
    background: #dedede;
    margin: 0 auto;
}

.footer p.copyright {
    font-size: 14px;
    color: #dedede;
    line-height: 24px;
    padding: 70px 0 40px 0;
}

.footer .icon_box i {
    color: #fff;
    font-size: 26px;
}

.footer .icon_box i.weixin-icon {
    padding-right: 15px;
}

.footer .icon_box i.weibo-icon {
    padding-left: 15px;
}

/*footer*/

/*end-base*/

/*index*/
.content .title {
    text-align: center;
    color: #333333;
    padding: 50px 0;
}

.content .title h5 {
    font-size: 18px;
    color: #878787;
}

.content .title h3 {
    font-size: 48px;
}

.content .title h4 {
    font-size: 20px;
}

.content .prod-show {
    padding: 100px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.content .prod-show .img-txt h3 {
    line-height: 70px;
    background: #f9f9f9;
    font-size: 18px;
    color: #666666;
    text-align: center;
}

.content .prod-descr {
    max-width: 1200px;
    margin: 0 auto;
}

.content .prod-descr .item {
    position: relative;
    padding-bottom: 160px;
    margin-bottom: 240px;
}

.content .prod-descr .item .bot-img-box {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.content .prod-descr .item img {
    width: 100%;
}

.content .prod-descr .item .text {
    padding: 0 70px 0 80px;
    color: #363636;
}

.content .prod-descr .item .text h3 {
    font-size: 40px;
    padding: 20px 0;
}

.content .prod-descr .item .text p {
    font-size: 22px;
    line-height: 40px;
    padding-bottom: 20px;
}

.content .prod-descr .item .text a {
    font-size: 18px;
    color: #ab8e75;
}

.content .Partner {
    height: 680px;
    background: url(../images/sy_imgbg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.content .Partner .title {
    color: #000;
    padding: 100px 0;
}

.content .Partner .title h3 {
    font-size: 30px;
}

.content .Partner .title h4 {
    font-size: 14px;
}

.content .Partner .cont-box {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.content .Partner .cont-box h2 {
    color: #989898;
    font-size: 50px;
    height: 22%;
    background: #fff;
}

.index .index-2 {
    height: 628px;
}

.index .index-2 .index-left {
    margin-top: 200px
}

.index .index-2 .index-left .title {
    font-size: 28px;
    color: #02b2b5
}

.index .index-2 .index-left .value {
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px
}

.index .index-2 .index-2-img {
    margin-top: 130px
}

.index .index-3 {
    height: 628px;
    width: 100%;
    background-image: url('../../../img/provider/index-3-bg.jpg')
}

.index .index-3 .index-3-img {
    text-align: right
}

.index .index-3 .index-right {
    text-align: center;
    margin-top: 200px;
    margin-left: 30px
}

.index .index-3 .index-right .title {
    font-size: 28px;
    color: #ffffff
}

.index .index-3 .index-right .value {
    font-size: 16px;
    color: #ffffff;
    display: block
}

/*end-index*/

/*service*/
.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.service-content .service-big-img {
    height: 500px;
    background: url('../../../img/provider/service.jpg') center center no-repeat;
    background-size: cover;
}

.service-content .service-img-text h3 {
    font-size: 30px;
    color: #666;
    text-align: right;
    padding-top: 180px;
    padding-right: 25%;
}

.service-content-case {
    text-align: center;
    margin-top: 100px
}

.service-content-case .title {
    color: rgb(33, 33, 33);
    font-size: 30px
}

.service-content-case .title span {
    color: rgb(46, 186, 238);
}

.service-content-case .value {
    font-size: 14px;
    text-align: center;
    color: rgb(155, 156, 156);
    margin: 10px;
}

.service-case {
    margin-top: 8%
}

.service-case-more {
    margin: 8%;
    text-align: center;
    cursor: pointer
}

.service-case-more a {
    font-size: 16px;
    font-weight: normal;
    font-family: 微软雅黑;
    text-decoration: none;
    border: 1px solid #d8d9db;
    width: 185px;
    height: 54px;
    display: inline-block;
}

.service-case-more a span {
    line-height: 54px;
    display: block;
    text-align: center;
}

.service-case layui-container img {
    width: 315px;
    height: 305px;
    margin: 0px;
    cursor: pointer
}

/*end-service*/

/*contact*/
.contact-content .contact-big-img {
    height: 500px;
    background: url('../../../img/provider/contact.jpg') center center no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}

.contact-content span {
    display: block;
}

.contact-content .contact-title {
    text-align: center;
    height: 100%;
}

.contact-content .contact-title .title-1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 100px;
    font-weight: bold;
}

.contact-content .contact-us {
    /*height: 300px;*/
    text-align: center;
    margin-top: 120px;
}

.contact-content .contact-title .title-2 {
    color: rgb(128, 128, 128);
    font-size: 18px;
    margin-top: 10px;
    font-family: "微软雅黑";
}

.contact-content .contact-us .warpImg {
    height: 215px;
    width: 215px;
    display: inline-block;
    margin-left: 110px;
    position: relative;
}

.contact-content .contact-us .warpImg-1 {

}

.contact-content .contact-us .icon {
    position: absolute;
    width: 215px;
    margin-left: -105px;
    margin-top: -85%;
}

.contact-content .phone-icon {
    background: url("../../../img/provider/icon/phone_call.ico") center no-repeat;
    width: 60px;
    height: 60px;
}

.contact-content .qq-icon {
    background: url("../../../img/provider/icon/tencent_QQ.ico") center no-repeat;
    width: 60px;
    height: 60px;
}

.contact-content .email-icon {
    background: url("../../../img/provider/icon/email.ico") center no-repeat;
    width: 60px;
    height: 60px;
}

.contact-content .location-icon {
    background: url("../../../img/provider/icon/location.ico") center no-repeat;
    width: 60px;
    height: 60px;
}

.contact-map-container {
    width: 80%;
    height: 500px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    border: solid 1px #c1dcb9;
    border-radius: 4px;
    margin-left:auto;
    margin-right:auto
}

.contact-map {
    width: 100%;
    height: 100%;
}

.contact-content .phone-text .title,
.contact-content .qq-text .title,
.contact-content .email-text .title,
.contact-content .location-text .title {
    color: rgb(33, 33, 33);
    font-size: 14px;
    text-align: center;
    font-family: "微软雅黑";
    margin-top: -44%;
}

.contact-content .phone-text .value,
.contact-content .qq-text .value,
.contact-content .email-text .value,
.contact-content .location-text .value {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;

}

.about-info .img-texts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.about-info .img-texts .item {
    padding: 50px 0;
}

.about-info .img-texts .item img {
    width: 100%;
}

.about-info .img-texts .item .text {
    padding-left: 84px;
}

.about-info .img-texts .item .text h5 {
    font-size: 100px;
    color: #f5f2ef;
    position: absolute;
}

.about-info .img-texts .item .text h4 {
    font-size: 30px;
    color: #333333;
    position: relative;
    z-index: 2;
    padding: 75px 0 56px 170px;
}

.about-info .img-texts .item .text p {
    line-height: 38px;
    font-size: 16px;
    color: #666666;
}

.about-info .coreTeam_box {
    background: #f6f6f9;
    position: relative;
}

.about-info .coreTeam_box .writebg {
    height: 360px;
    background: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
}

.about-info .coreTeam {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-info .coreTeam h3 {
    font-size: 36px;
    color: #333333;
    padding: 40px 0 24px 0;
}

.about-info .coreTeam h4 {
    font-size: 24px;
    color: #888888;
    padding-bottom: 80px;
}

.about-info .coreTeam .imgTxt h6 {
    font-size: 18px;
    padding: 36px 0 110px 0;
}

.about-info .coreTeam .imgTxt img {
    width: 100%;
}

/*end-about*/

/*details*/
.details-content {
    max-width: 1200px;
    margin: 0 auto;
}

.details-content .title {
    line-height: 30px;
    padding: 32px 0 40px 30px;
}

.details-content .title h3 {
    font-size: 18px;
    color: #333;
}

.details-content .title h4 {
    font-size: 14px;
    color: #aaa;
}

.details-content .img-box {
    padding-bottom: 100px;
}

.details-content .img-box img {
    margin-bottom: 50px;
    width: 100%;
}

/*end-details*/

/*introduction*/
.introduction .nav {
    height: 496px;
    background-image: url("../../../img/provider/intro-index-1-bg.jpg")
}

.introduction .intro-index-2 {
    height: 628px;
}

.introduction .intro-index-2 {
    margin-top: 30px
}

.introduction .intro-index-2 .intro-index-2-text {
    margin-top: 160px
}

.introduction .intro-index-2 .intro-index-2-text span {
    display: block
}

.introduction .intro-index-2 .intro-index-2-text .title {
    font-size: 30px;
}

.introduction .intro-index-2 .intro-index-2-text .e-title {
    font-size: 44px;
    color: rgb(92, 92, 92);
}

.introduction .intro-index-2 .intro-index-2-text .symbol {
    color: rgb(102, 102, 102);
    font-size: 40px;
}

.introduction .intro-index-2 .intro-index-2-text .value {
    color: rgb(137, 137, 137);
    font-size: 16px
}

.introduction .intro-index-2 {
}

.introduction .intro-index-3 {
    width: 100%;
    margin-left: 12%;
    margin-top: 90px;
    height: 335px;
    color: #FFF;
    background-image: url("../../../img/provider/intro-index-3-bg.jpg")
}

.introduction .intro-index-3 .intro-index-count {
    width: 200px;
    width: 358px;
    text-align: center;
    margin-top: 81px;
}

.introduction .intro-index-3 span {
    display: block
}

.introduction .intro-index-3 .count {
    font-size: 48px;
}

.introduction .intro-index-3 .name {
    font-size: 18px
}

.introduction .intro-index-4 .intro-index-4-first {
    margin-top: 40px;
    text-align: center;
}

.introduction .intro-index-4 .theme {
    font-size: 50px;
    color: #000;
}

.introduction .intro-index-4 .symbol {
    display: block;
    margin-top: 10px;
    color: #737373;
    font-size: 18px
}

.introduction .intro-index-4 .intro-index-4-second {
    margin-top: 40px
}

.introduction .intro-index-4 .intro-index-4-second .index-4-second-img {
    text-align: right
}

.introduction .intro-index-4 .intro-index-4-desc div {
    margin-left: 20px;
}

.introduction .intro-index-4 .intro-index-4-desc .number {
    font-size: 50px;
    color: #000;
    margin: 5px;
    font-weight: bold;
}

.introduction .intro-index-4 .intro-index-4-desc .name {
    font-size: 18px;
    color: #000;
    margin: 5px
}

.introduction .intro-index-4 .intro-index-4-desc .desc {
    display: block
}

.introduction .intro-index-4 .intro-index-4-desc .quming {
    position: absolute;
    display: inline-block;
    width: 380px
}

/*end-introduction*/

@media only screen and (max-width: 1024px) {
    .case-content .banner {
        margin: 30px auto;
    }

    .case-content .banner .img-text h3 {
        color: #a1a1a1;
        font-size: 20px;
    }

    .content .prod-descr .item {
        position: relative;
        padding-bottom: 0;
        margin-bottom: 100px;
    }

    .content .prod-descr .item .bot-img-box {
        position: relative;
        margin-top: 20px;
    }

    .content .prod-descr .item .text {
        padding: 0 30px;
    }

    .content .prod-descr .item .text h3 {
        font-size: 26px;
        padding: 30px 0;
    }

    .content .prod-descr .item .text p {
        font-size: 22px;
        line-height: 40px;
        padding-bottom: 20px;
    }

    .content .prod-descr .item .text a {
        font-size: 18px;
        color: #ab8e75;
    }

    .about-content .about-big-img .text {
        margin: 200px 50px;
    }

    .about-info .img-texts {
        padding: 50px 0;
    }

    .about-content .about-big-img .text p {
        padding-top: 10px;
        font-size: 20px;
        line-height: 40px;
    }

    .about-content .about-big-img .text h3 {
        font-size: 24px;
    }

    .about-info .img-texts .item .text h5 {
        font-size: 50px;
    }

    .about-info .img-texts .item .text h4 {
        font-size: 24px;
        padding: 25px 0 30px 80px;
    }

    .content .title {
        padding: 20px 0;
    }

    .content .prod-show {
        padding: 50px 0;
    }

    .content .prod-show .img-txt {
        margin-bottom: 10px;
    }

    .content .Partner .title {
        color: #000;
        padding: 50px 0;
    }

    /*  .content .Partner .title h3{font-size: 16px;}
      .content .Partner .title h4{font-size: 14px;}*/
    .content .Partner .cont-box {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    .content .Partner .cont-box h2 {
        color: #989898;
        font-size: 20px;
        padding: 15px 0;
        background: #fff;
    }

}

/*@media only screen and (max-width: 992px){
 
}*/
/*@media only screen and (max-width: 810px){
  

}*/
@media only screen and (max-width: 780px) {
    .about-info .img-texts .item .text {
        padding-left: 0;
    }

    .about-info .img-texts .img-center {
        text-align: center;
    }

    .about-info .img-texts .item {
        padding: 0 20px;
    }

    .service-contact {
        margin-bottom: 50px;
    }

    .service-contact-box .cantact-info h3 {
        padding: 20px 0;
    }

    .service-contact-box .cantact-info .item, .service-contact-box .cantact-info .item i {
        font-size: 16px;
    }

    .about-info .coreTeam .imgTxt h6 {
        padding: 36px 0;
    }

    .details-content .img-box {
        padding-bottom: 50px;
    }

    .footer p.copyright {
        padding: 20px 0;
    }

    /**/
    .header .nav {
        display: none;
    }

    .header h1.logo {
        float: right;
        padding: 0 35px 0 0;
    }

    .app-header {
        display: block;
    }

    .layui-nav.down-nav {
        position: absolute;
        width: 100%;
        z-index: 2;
        text-align: center;
        top: 80px;
        padding: 0;
        display: block;
    }

    .layui-nav.down-nav li {
        height: 60px;
        line-height: 60px;
        display: block;
    }

    .layui-nav.down-nav li a {
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 18px;
    }

    .service-content .content-introduction {
        padding: 20px 0;
    }

    .service-content .content-introduction .layui-fluid {
        padding: 0 20px;
    }

    .service-process .title {
        padding: 30px 0;
    }

    .service-process-box {
        padding-bottom: 30px;
    }

    .service-contact-box .cantact-info .item, .service-contact-box .cantact-info .item i {
        font-size: 16px;
    }

    /**/
    .service-contact-box .cantact-info h3 {
        padding: 20px 0;
    }

    .service-contact-box .cantact-info .item, .service-contact-box .cantact-info .item i {
        font-size: 16px;
    }

    .service-contact-box {
        padding: 40px 0;
    }

    .service-contact-box .cantact-info {
        height: auto;
    }

    .service-contact-box .cantact-info .item {
        line-height: 40px;
    }

    .about-content .about-big-img .text {
        margin: 200px 50px;
    }

    .about-content .about-big-img .text p {
        padding-top: 10px;
        font-size: 18px;
        line-height: 36px;
    }

    .about-content .about-big-img .text h3 {
        font-size: 24px;
    }

    .footer .line {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .content .title h5 {
        font-size: 12px;
        color: #878787;
    }

    .content .title h3 {
        font-size: 24px;
    }

    .content .title h4 {
        font-size: 14px;
    }

    .content .prod-show .img-txt h3 {
        line-height: 40px;
        background: #f9f9f9;
        font-size: 14px;
        color: #666666;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .content .Partner .cont-box h2 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .case-content .banner {
        display: none;
    }

    .case-content .imgtext-flow .item img {
        width: 100%;
        height: auto;
    }
}

.logo img {
    width: 60px;
}

.slogan {
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -300px;
}

.slogan .theme {
    display: block;
    text-align: center;
    font-size: 36px;
}

.slogan .msg {
    font-size: 16px;
    margin-top: 40px;
    display: block;
}

.normal-inner-banner, .fullwindow-banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.normal-inner-banner img{
    display: block;
    height: 100%;
    min-height: 450px;
}
.normal-inner-banner .normal-banner-inner-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: -moz-linear-gradient(left, rgba(30,95,116,.7) 0%, rgba(23,9,49,.7) 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(30,95,116,.7)), to(rgba(23,9,49,.7)));
    background: -o-linear-gradient(left, rgba(30,95,116,.7) 0%,rgba(23,9,49,.7) 100%);
    background: -ms-linear-gradient(left, rgba(30,95,116,.7) 0%,rgba(23,9,49,.7) 100%);
    background: linear-gradient(to right, rgba(30,95,116,.7) 0%,rgba(23,9,49,.7) 100%);
}
.normal-inner-banner .normal-banner-inner{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.inner-banner-title{
    padding-top: 40px;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    text-align: center;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: none;
}
.inner-banner-title .mark img{
    display: inline-block;
    max-width: 100%;
    height: 26px;
    min-height: 26px;
}