<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>曲鸣网络科技有限公司</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript" src="../res/layui/layui.js"></script>
    <link rel="shortcut icon" href="img/provider/icon/logo.ico">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/static/css/common.css">

    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- header -->
<div id="header"></div>
<!-- end-header -->


<!-- contact-content -->
<div class="inner-main-container">
    <div class="inner-banner normal-inner-banner cases_index_banner active">
        <img src="../img/product/banner_cases.jpg" alt="软件设计案例">
        <div class="normal-banner-inner-wrap">
            <div class="normal-banner-inner-wrap">
                <div class="normal-banner-inner">
                    <h2 class="inner-banner-title">用心做好每一个软件<span class="mark"><img alt="，"
                                                                                    src="../img/product/mark2.png"></span>案例是我们最好的名片
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="ourwork-page">
        <div class="container">
            <div class="ourwork-list-wrap">
                <div class="ourwork-tab-wrap clearfix">
                    <div class="item-list">
                        <ul class="clearfix">
                            <li>
                                <a href="../product" title="软件设计案例">全部</a>
                            </li>
                            <li class="on">
                                <a href="list-11-1" title="app设计案例">APP开发</a>
                            </li>
                            <li>
                                <a href="list-12-1" title="响应式网站设计案例">响应式网站</a>
                            </li>
                            <li>
                                <a href="list-13-1" title="微信小程序设计案例">微信小程序</a>
                            </li>
                        </ul>
                        <span class="nav-icon"></span></div>
                </div>
                <div class="ourwork-list">
                    <ul class="item-list clearfix">
                        <li class="each-item">
                            <div class="item-inner"><a href="cases/1" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner" style=" height:262px; background:#0099fb;"><img
                                            src="../img/product/yiqi_5.png" alt=""></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">易骑商城APP</h3>
                                        <span class="small">商城APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/yiqi_8.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="cases/1" target="_blank" title="易骑商城app">
                                            <h3 class="s-title">易骑商城app</h3>
                                            <span class="s-small">易骑商城app 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                易骑商城在业界开创性的为运动自行车消费群体量身打造出了一个全新的网络购物车服务体系：02S服务体系。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="cases/1" target="_blank" title="易骑商城app"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/242.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner" style="background:#fcd4de"><img style="height:262px"
                                                                                             src="../img/product/hn_pic2.png"
                                                                                             alt=""></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">珂洛丽APP</h3>
                                        <span class="small">商城APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/hn_pic2.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/242.html" target="_blank" title="珂洛丽APP">
                                            <h3 class="s-title">珂洛丽APP</h3>
                                            <span class="s-small">珂洛丽APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                珂洛丽，一扇通往梦幻世界的大门，曾经用设计、线条、剪裁以服饰为女性讲述了一个又一个幸福的甜蜜故事.....
                                                如今，珂洛丽，把这种诉说的甜蜜，从服饰，带到指尖。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/242.html" target="_blank" title="珂洛丽APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/243.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner" style=" background:#0099fb;"><img style="height:262px"
                                                                                               src="../img/product/hunuo-pic5.png"
                                                                                               alt=""></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">爽快点APP</h3>
                                        <span class="small">爽快点APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/hunuo-pic5.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/243.html" target="_blank" title="爽快点APP">
                                            <h3 class="s-title">爽快点APP</h3>
                                            <span class="s-small">爽快点APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                爽快点基于多类型到家服务020的商业模式，致力于打造最专业的到家服务，平台集订餐配送、进出口商品配送、预约家政服务于一体。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/243.html" target="_blank" title="珂洛丽APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/245.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#e24329"
                                                                  src="../img/product/hunuo-png7.png" alt=""></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">雅惠APP</h3>
                                        <span class="small">雅惠APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/hunuo-png7.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/245.html" target="_blank" title="爽快点APP">
                                            <h3 class="s-title">雅惠APP</h3>
                                            <span class="s-small">雅惠APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition"> 雅惠APP
                                                经过十多年的发展，雅惠餐饮发展成为一家集餐饮服务、卤食加工、专卖连锁、快餐外卖为一体的集团式民营企业。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/245.html" target="_blank" title="雅惠APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/246.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px" src="../img/product/YQN_3.png"
                                                                  alt="一起牛"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">一起牛APP</h3>
                                        <span class="small">一起牛APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/YQN_3.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/246.html" target="_blank" title="爽快点APP">
                                            <h3 class="s-title">一起牛APP</h3>
                                            <span class="s-small">一起牛APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                一起牛的发展方向是打造移动互联网时代的财富管理平台，在业界开创性地为股票群体量身打造出一个全新的股票服务体系：顶级证券服务体系。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/246.html" target="_blank" title="一起牛"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/247.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#514747"
                                                                  src="../img/product/hunuo-yl3.png" alt="油灵加油站APP">
                                    </div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">油灵加油站APP</h3>
                                        <span class="small">油灵加油站APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/hunuo-yl3.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/247.html" target="_blank" title="爽快点APP">
                                            <h3 class="s-title">油灵加油站APP</h3>
                                            <span class="s-small">油灵加油站APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                油灵最接近油站管理者心目中的线上管理系统。根据油站管理者提出的要求结合互联网经营模式，整合出一套更符合油站经营管理的系统。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/247.html" target="_blank" title="油灵加油站APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/248.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner" style="background:#8b92d4"><img style="height:262px"
                                                                                             src="../img/product/XYJK_1.png"
                                                                                             alt="心医"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">心医APP</h3>
                                        <span class="small">心医APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/XYJK_1.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/248.html" target="_blank" title="心医APP">
                                            <h3 class="s-title">心医APP</h3>
                                            <span class="s-small">心医APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                心医国际健康科技北京有限公司，致力于通过互联网提供专业、完善的医疗与健康信息服务，努力打造全流程的020医疗服务体验，带来全新在线医疗和移动医疗概念。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/248.html" target="_blank" title="心医APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/249.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#8dcdee"
                                                                  src="../img/product/YT_4.png" alt="医途APP"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">医途APP</h3>
                                        <span class="small">医途APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/YT_4.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/249.html" target="_blank" title="医途APP">
                                            <h3 class="s-title">医途APP</h3>
                                            <span class="s-small">医途APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                医途是一款面向中国医疗专业人士的移动运用，主要功能包括临床图片的分享与交流、官方病例例库的查询与阅读、在线医生社群等，旨在帮助中国医生群体通过轻影像来完成学术社交和讨论。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/249.html" target="_blank" title="医途APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/250.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#72aff2"
                                                                  src="../img/product/XGLY_3.png" alt="行鸽旅游APP"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">行鸽旅游APP</h3>
                                        <span class="small">行鸽旅游APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/XGLY_3.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/250.html" target="_blank" title="医途APP">
                                            <h3 class="s-title">行鸽旅游APP</h3>
                                            <span class="s-small">行鸽旅游APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                行鸽旅游APP是一款旅游出行运用，通过真人语音娓娓道来，实现移步换景、声声相随的听游新体验，现已覆盖全国各级旅游城市及景点，是出行旅游的好助手。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/250.html" target="_blank" title="行鸽旅游APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/251.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#47d3af;"
                                                                  src="../img/product/LY_4.png" alt="寻觅旅游APP"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">寻觅旅游APP</h3>
                                        <span class="small">寻觅旅游APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/LY_4.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/251.html" target="_blank" title="医途APP">
                                            <h3 class="s-title">寻觅旅游APP</h3>
                                            <span class="s-small">寻觅旅游APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                寻觅旅游APP是首款基于出行关系的精品旅行APP，邀请拥有丰富旅游经验的资深玩家成为觅客，通过各种新鲜有趣的角度呈现最实用的旅游攻略。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/251.html" target="_blank" title="寻觅旅游APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/252.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#62d348"
                                                                  src="../img/product/fww_11.png" alt="房旺旺APP"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">房旺旺APP</h3>
                                        <span class="small">房旺旺APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/fww_11.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/252.html" target="_blank" title="房旺旺APP">
                                            <h3 class="s-title">房旺旺APP</h3>
                                            <span class="s-small">房旺旺APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                房旺旺借助互联网创新技术产品和PC端入口，集聚大量的买房、卖房客户数据，精准匹配，促进经纪人成交，提供一个真实、实惠的一站式交易平台。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/252.html" target="_blank" title="房旺旺APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="each-item">
                            <div class="item-inner"><a href="../cases/253.html" target="_blank" title="">
                                <div class="image-wrap">
                                    <div class="image-inner"><img style="height:262px;background:#80837f;"
                                                                  src="../img/product/JK_1.png" alt="即刻APP"></div>
                                </div>
                                <div class="text-wrap">
                                    <div class="text-inner">
                                        <h3 class="title">即刻APP</h3>
                                        <span class="small">即刻APP 手机微信软件 </span>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="scale-box">
                                <div class="scale-inner">
                                    <div class="image"
                                         style="background:url(../img/product/JK_1.png) no-repeat center bottom;background-size:auto 100%;"></div>
                                    <div class="text">
                                        <div class="inner"><a href="../cases/253.html" target="_blank" title="即刻APP">
                                            <h3 class="s-title">即刻APP</h3>
                                            <span class="s-small">即刻APP 手机微信软件 </span> <span class="line"></span>
                                            <div class="descrition">
                                                即刻是一个本地的生活服务引擎，聚集了城市里与生活相关的优秀服务者，随时随地解决生活的各种琐事难题，找人不求人，办事不费事，即刻给您意想不到的服务和体验。
                                            </div>
                                        </a>
                                            <div class="bottom-icon">
                                                <a href="../cases/253.html" target="_blank" title="即刻APP"
                                                   class="link link1"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- contact-content -->


<!-- footer -->
<div id="footer"></div>
<!-- end-footer -->

<script type="text/javascript">
    layui.use('jquery', function () {
        var $ = layui.$;
        $("#footer").load("footer");
        $("#header").load("header");
    });
</script>
</body>
</html>