<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>曲鸣网络科技有限公司</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript" src="../res/layui/layui.js"></script>
    <link rel="shortcut icon" href="img/provider/icon/logo.ico">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/static/css/common.css">

    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- header -->
<div id="header"></div>
<!-- end-header -->


<!-- contact-content -->
<div class="inner-main-container">
<div class="inner-banner normal-inner-banner cases_index_banner active">
    <img src="../img/product/banner_cases.jpg" alt="软件设计案例">
    <div class="normal-banner-inner-wrap">
        <div class="normal-banner-inner-wrap">
            <div class="normal-banner-inner">
                <h2 class="inner-banner-title">用心做好每一个软件<span class="mark"><img alt="，"
                                                                                src="../img/product/mark2.png"></span>案例是我们最好的名片
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="ourwork-page">
    <div class="container">
        <div class="ourwork-list-wrap">
            <div class="ourwork-tab-wrap clearfix">
                <div class="item-list">
                    <ul class="clearfix">
                        <li class="on">
                            <a href="../product" title="软件设计案例">全部</a>
                        </li>
                        <li>
                            <a href="list-11-1" title="app设计案例">APP开发</a>
                        </li>
                        <li>
                            <a href="list-12-1" title="响应式网站设计案例">响应式网站</a>
                        </li>
                        <li class="on">
                            <a href="list-13-1" title="微信小程序设计案例">微信小程序</a>
                        </li>
                    </ul>
                    <span class="nav-icon"></span></div>
            </div>
            <div class="ourwork-list">
                <ul class="item-list clearfix">
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/337.html" target="_blank" title="社区团购小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/5bd683e9cf0d1.jpg"
                                                              alt="社区团购小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                                                                                                                                                                <img src="../img/product/ico_xcx.png"
                                                                                                                                                                                     alt="微信小程序">                                            </span>
                                    <h3 class="title">社区团购</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/5bd683e9cf0d1.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/337.html" target="_blank" title="社区团购">
                                        <h3 class="s-title">社区团购</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            社区团购是当下的创业热点，团长通过微信群与社区居民互动，社区居民在小程序下单后，平台总部根据订单采购，发货至团长（便利店主或宝妈）处，消费者线下自提完成购物流程...
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/337.html" target="_blank" title="社区团购"
                                               class="link link4"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/341.html" target="_blank" title="浆糊O2O小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/5b46b652ee2bb.jpg"
                                                              alt="浆糊O2O小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                                                                                                                    <img src="../img/product/ico_phone.png"
                                                                                                                                         alt="手机微信软件">                                            <img
                                        src="../img/product/ico_xcx.png" alt="微信小程序">                                            </span>
                                    <h3 class="title">浆糊O2O小程序</h3>
                                    <span class="small">手机微信软件 微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/5b46b652ee2bb.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/341.html" target="_blank" title="浆糊O2O小程序">
                                        <h3 class="s-title">浆糊O2O小程序</h3>
                                        <span class="s-small">手机微信软件 微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            浆糊O2O小程序属于一个手机端O2O外包威客平台小程序，拥有完整的任务流程，还有很多推广营销功能，如每日签到、推广用户、任务打折等。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">
                                            <a href="../cases/341.html" target="_blank" title="浆糊O2O小程序手机版"
                                               class="link link2"></a> <a href="../cases/340.html" target="_blank"
                                                                          title="浆糊O2O小程序小程序" class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/337.html" target="_blank" title="一起换小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/5a3dfc1dee859.jpg"
                                                              alt="一起换小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                                <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">一起换小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/5a3dfc1dee859.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/337.html" target="_blank" title="一起换小程序">
                                        <h3 class="s-title">一起换小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">针对校园用户的物物交换小程序，最多支持7个用户之间物物交换，互联网创新模式。</div>
                                    </a>
                                        <div class="bottom-icon">
                                            <a href="../cases/337.html" target="_blank" title="一起换小程序小程序"
                                               class="link link4"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/340.html" target="_blank" title="兆-广律师事务所">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/5a444cdb802dd.jpg"
                                                              alt="兆-广律师事务所案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                             <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">兆-广律师事务所</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/5a444cdb802dd.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/340.html" target="_blank" title="兆-广律师事务所">
                                        <h3 class="s-title">兆-广律师事务所</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            专业化、团队化的律师队伍，坚持优质高效的服务理念，积极进取地解决问题，致力于为每一个客户提供最优质的法律解决方案。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">
                                            <a href="../cases/340.html" target="_blank" title="兆-广律师事务所小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/342.html" target="_blank" title="房产中介小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/fczjs.jpg"
                                                              alt="房产中介小程序"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                             <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">房产中介小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/fczjs.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/342.html" target="_blank" title="房产中介小程序">
                                        <h3 class="s-title">房产中介小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            房产中介小程序功能点：新房、二手房、房屋出租、经纪人、房产资讯、购房活动、楼盘推荐、多城市运营、定位功能、房源预约定金、全款支付、星级评价、房产分销等
                                        </div>
                                    </a>
                                        <div class="bottom-icon">
                                            <a href="../cases/342.html" target="_blank" title="房产中介小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/343.html" target="_blank" title="时代vip商城小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/sdvips.jpg"
                                                              alt="时代vip商城小程序"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                             <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">时代vip商城小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/sdvips.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/343.html" target="_blank" title="时代vip商城小程序">
                                        <h3 class="s-title">时代vip商城小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            商城小程序功能：产品买卖、团购、秒杀、分销商品推荐、商家入驻、商品分类、积分、积分商城、充值、优惠券、会员卡、一键导入淘宝、天猫商品、强大的后台商城管理系统
                                        </div>
                                    </a>
                                        <div class="bottom-icon">
                                            <a href="../cases/343.html" target="_blank" title="时代vip商城小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/344.html" target="_blank" title="旅游小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/ly1.jpg"
                                                              alt="旅游小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">旅游</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/ly1.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/344.html" target="_blank" title="旅游小程序">
                                        <h3 class="s-title">旅游小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            商城小程序功能：产品买卖、团购、秒杀、分销商品推荐、商家入驻、商品分类、积分、积分商城、充值、优惠券、会员卡、一键导入淘宝、天猫商品、强大的后台商城管理系统...
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/344.html" target="_blank" title="旅游小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/345.html" target="_blank" title="志汇餐饮小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/zhcys.jpg"
                                                              alt="志汇餐饮小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">志汇餐饮小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/zhcys.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/345.html" target="_blank" title="旅游小程序">
                                        <h3 class="s-title">志汇餐饮小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            餐饮小程序功能：单店版、多店版、外卖、堂食、会员卡、优惠券、商家推荐、签到、积分、优惠券、充值、抢购、团购、分销、积分商城、酒店住宿.
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/345.html" target="_blank" title="志汇餐饮小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/346.html" target="_blank" title="沈阳活动行">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/syhd.jpg"
                                                              alt="沈阳活动行案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">沈阳活动行</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/syhd.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/346.html" target="_blank" title="沈阳活动行">
                                        <h3 class="s-title">沈阳活动行</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            活动报名小程序：活动创建【平台创建、用户自建】、活动分类，排序、身份审核、活动管理、余额提现、VIP权限、地点定位、附近的活动、费用设置、人数设置。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/346.html" target="_blank" title="沈阳活动行小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/347.html" target="_blank" title="淘宝客小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/tbk.jpg"
                                                              alt="淘宝客小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">淘宝客小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/tbk.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/347.html" target="_blank" title="淘宝客小程序">
                                        <h3 class="s-title">淘宝客小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            淘宝客小程序功能：京东优惠券、淘宝天猫优惠券、拼多多优惠券、自动获取各平台优惠券、积分、积分商城、三级分销、佣金提现、签到领积分等。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/347.html" target="_blank" title="淘宝客小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/348.html" target="_blank" title="同城小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/tc.jpg"
                                                              alt="同城小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">同城小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/tc.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/348.html" target="_blank" title="同城小程序">
                                        <h3 class="s-title">同城小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            同城小程序功能：同城信息、全面覆盖、本地生活、吃喝玩乐、房产信息、二手闲置、车辆买卖、宠物服务、票务优惠、招聘求职、生活服务、维修服务、同城活动、装修建材、拼车出行、寻人寻物、实物招领、相亲交友、企业招聘等。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/348.html" target="_blank" title="同城小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="each-item">
                        <div class="item-inner"><a href="../cases/349.html" target="_blank" title="教育类小程序">
                            <div class="image-wrap">
                                <div class="image-inner"><img style="height:262px;" src="../img/product/jyl.jpg"
                                                              alt="教育类小程序案例图片"></div>
                            </div>
                            <div class="text-wrap">
                                <div class="text-inner"> <span class="icon">
                                            <img src="../img/product/ico_xcx.png" alt="微信小程序"> </span>
                                    <h3 class="title">教育类小程序</h3>
                                    <span class="small">微信小程序 </span></div>
                            </div>
                        </a>
                        </div>
                        <div class="scale-box">
                            <div class="scale-inner">
                                <div class="image"
                                     style="background:url(static/images/jyl.jpg) no-repeat center bottom;background-size:auto 100%;"></div>
                                <div class="text">
                                    <div class="inner"><a href="../cases/349.html" target="_blank" title="教育类小程序">
                                        <h3 class="s-title">教育类小程序</h3>
                                        <span class="s-small">微信小程序 </span> <span class="line"></span>
                                        <div class="descrition">
                                            教育类小程序：单校版、多校版、社会报名、食谱查看、教师查看、校园文章、招生简章、学校介绍、在线报课、文章分享点赞、家长留言、对话班主任、学生管理、班级通知、作业发布、请假管理、校园群发等。
                                        </div>
                                    </a>
                                        <div class="bottom-icon">

                                            <a href="../cases/349.html" target="_blank" title="教育类小程序"
                                               class="link link4"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<!-- contact-content -->


<!-- footer -->
<div id="footer"></div>
<!-- end-footer -->

<script type="text/javascript">
    layui.use('jquery', function () {
        var $ = layui.$;
        $("#footer").load("footer");
        $("#header").load("header");
    });
</script>
</body>
</html>