.top{
    width: 100%;
    height: 86px;
    background: #000;
    overflow: hidden;
}
.top_main{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.top_main .top_right {
    position: absolute;
    right: 0;
    line-height: 86px;
}
.top_main .top_left {
    position: absolute;
    line-height: 86px;
}
.top_main .top_right li:first-child {
    margin-left: 0;
}

.top_main .top_right li {
    float: left;
    margin-left: 24px;
    color: #fff;
}
li {
    list-style: none;
}
.top_main .top_right li a, .top_main .top_left span{
    font-size: 14px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover{
    cursor:pointer;
}
.top_main .top_right li a:hover {
    color: #ddd;
}
.top_main .top_right li i {
    padding-right: 8px;
    font-size: 20px;
    color: #fff;
    line-height: 0;
}
.top_main .top_left span{
    font-family: ”微软雅黑”;
    font-size: 20px;
    letter-spacing: 10px;
}

.nav{
    height: 67px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.nav_menu{
    width: 1200px;
    margin: 0 auto;
}
.nav_menu ul {
    width: 650px;
    margin: 0 auto;
    line-height: 66px;
}
.nav_menu ul li {
    float: left;
    margin-right: 60px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main h2 {
    font-size: 14px;
    font-weight: 800;
    border-bottom: 1px solid #000000;
    width: 188px;
    margin-top: -10px;
    line-height: 30px;
    margin-bottom: 20px;
}
.nav_menu ul li.nav_hover:hover .nav_down {
    height: 400px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .cate_menu {
    width: 188px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .cate_menu li {
    float: none;
    line-height: 40px;
    margin-right: 0;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .nav_title {
    position: absolute;
    left: 0;
    top: 0;
    width: 188px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .cate_img .imgblock {
    display: block;
}
.nav_menu ul li.nav_hover .nav_down {
    overflow: hidden;
    height: 0;
    position: absolute;
    left: 0px;
    top: 68px;
    width: 100%;
    background: #fff;
    background-position: 50%;
    z-index: 1;
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .nav_title {
    position: absolute;
    left: 0;
    top: 0;
    width: 188px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main .cate_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 690px;
    height: 310px;
}
.nav_menu ul li.nav_hover .nav_down .nav_main {
    width: 984px;
    height: 310px;
    margin: 0 auto;
    margin-top: 44px;
    position: relative;
}
.nav_menu ul li a {
    font-size: 16px;
    font-family: 微软雅黑;
}
.nav-img img{
    width:690px;
    height:310px;
}
#banner {
    max-width: 1920px;
    margin: 0 auto;
}
.banner_img a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
img {
    border: none;
}
.layui-carousel-ind ul {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.layui-carousel-ind ul:hover {
    background-color: rgba(0, 0, 0, 0);
}
.layui-carousel-ind li:hover {
    background-color: #ffffff;
}
.layui-carousel-ind li {
    display: inline-block;
    width: 30px;
    height: 4px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #e2e2e2;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.cust_design {
    height: 558px;
    width: 1200px;
    margin: 0 auto;
}
.cust_design .cust_title {
    height: 145px;
    border-bottom: 1px solid #7f7f7f;
    text-align: center;
    overflow: hidden;
}
.cust_design .cust_title h3 {
    font-size: 26px;
    margin-top: 58px;
}
.cust_design .cust_title p {
    line-height: 24px;
    color: #a3a3a3;
    font-size: 12px;
}
.cust_design .cust_more {
    height: 43px;
    width: 100%;
    overflow: hidden;
}
.cust_design .cust_more a {
    float: right;
    font-size: 12px;
    line-height: 30px;
}
.cust_design .cust_recomond {
    width: 1200px;
}

.cust_design .cust_recomond li {
    float: left;
    text-align: center;
    margin-right: 16px;
    width: 227px;
    height: 288px;
    position: relative;
}
.cust_design .cust_recomond li img:hover {
    top: -6px;
}
.cust_design .cust_recomond li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 227px;
    height: 227px;
    transition: top .2s ease-in-out;
}
.cust_design .cust_recomond li h4 {
    position: absolute;
    top: 248px;
    left: 0;
    width: 100%;
}

/*bottom-css*/
.bottom_bg {
    width: 100%;
    min-width: 1200px;
    height: 450px;
    background: url(../img/tools/bottom_bg.gif) repeat-x #151518;
    border-bottom: 1px solid #403933;
}
.bottom_bg .b_main {
    height: 407px;
    width: 1200px;
    margin: 0 auto;
}
.bottom_bg .b_main .left {
    float: left;
    width: 286px;
    height: 405px;
    overflow: hidden;
}
.bottom_bg .b_main .left .l_top {
    width: 286px;
    height: 155px;
    text-align: center;
}
.bottom_bg .b_main .left .l_top a {
    display: block;
    font-family: "ms serif";
    font-size: 20px;
    padding-top: 60px;
    color: #fff;
}
.bottom_bg .b_main .left .l_top p {
    color: #797979;
    font-size: 13px;
}
.bottom_bg .b_main .mid {
    float: left;
    width: 627px;
    height: 405px;
    background: #151518;
    border-top: 1px solid #403933;
    border-left: 1px solid #403933;
    border-right: 1px solid #403933;
    overflow: hidden;
}
.bottom_bg .b_main .mid .menu_list {
    width: 506px;
    padding: 57px 60px;
    overflow: hidden;
}
.bottom_bg .b_main .mid .menu_list dl {
    float: left;
    margin: 0 37px;
}
.bottom_bg .b_main .mid .menu_list dl dt {
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
}
.bottom_bg .b_main .mid .copyright {
    width: 506px;
    padding-left: 97px;
}
.bottom_bg .b_main .mid .copyright h3 {
    font-size: 12px;
    color: #fff;
    line-height: 26px;
}
.bottom_bg .b_main .mid .copyright p {
    color: #696969;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
}
.bottom_bg .b_main .right {
    width: 285px;
    height: 405px;
    float: right;
    overflow: hidden;
}
.bottom_bg .b_main .right .r_top {
    width: 285px;
    height: 154px;
    text-align: center;
}
.bottom_bg .b_main .right .r_top p {
    color: #fff;
    font-size: 18px;
    padding-top: 60px;
}
.bottom_bg .b_main .right .r_top span {
    color: #fff;
    font-size: 12px;
}
.bottom_bg .b_main .right .r_bottom {
    width: 285px;
    height: 250px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.bottom_bg .b_main .right .r_bottom .ptime {
    position: relative;
    padding-top: 60px;
}
.bottom_bg .b_main .right .r_bottom .ptime .phone {
    width: 174px;
    height: 40px;
    position: absolute;
    left: 55px;
    top: 60px;
}
.bottom_bg .b_main .right .r_bottom .ptime .phone .icon {
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}
.bottom_bg .b_main .right .r_bottom .ptime .phone span {
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 62px;
}
.bottom_bg .b_main .right .r_bottom .ptime .phone b {
    font-weight: 400;
    position: absolute;
    top: 28px;
    left: 62px;
}
.bottom_bg .b_main .right .r_bottom .ptime .time {
    width: 174px;
    height: 40px;
    position: absolute;
    left: 55px;
    top: 144px;
}
.bottom_bg .b_main .right .r_bottom .ptime .time .icon {
    font-size: 46px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}
.bottom_bg .b_main .right .r_bottom .ptime .time span {
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 62px;
}
.bottom_bg .b_main .right .r_bottom .ptime .time b {
    font-weight: 400;
    position: absolute;
    top: 28px;
    left: 62px;
}
.footer {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
}
.footer ul {
    float: right;
}
.footer ul li:first-child {
    border-left: 1px solid #1A1A1A;
}
.footer ul li .icon {
    font-size: 30px;
    line-height: 44px;
    color: #999;
}

.qq_login{
    width: 79.6px;
    height: 78px;
    display: inline-block;
    background-position: -153px -711px;
    background-image: url(../img/n-indexIcons-4.png);
}