<div class="footer">
    <div class="line"></div>
    <p class="copyright">
        @2019 Jsoso <a href="https://www.jsoso.cn/" target="_blank" title="曲鸣">曲鸣网络科技</a> - Collect from <a href="https://www.jsoso.cn/" title="曲鸣" target="_blank">曲鸣网络科技</a><br />
        邮箱:774694780@qq.com<br />
        电话:18605257569
    </p>
    <div class="icon_box">
        <a href="#"><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
        <a href="#"><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
    </div>
</div>