<div class="footer">
  <div class="line"></div>
  <p class="copyright">
    @2016 Jsoso <a href="http://www.jsoso.cn/" target="_blank" title="品质生活">品质生活</a> - Collect from <a href="http://www.jsoso.cn/" title="品质生活" target="_blank">品质生活</a><br />
    E-MAIL:sfpy_zk@163.com<br />
    TEL:15996211994
  </p>
  <div class="icon_box">
    <a href="#"><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
    <a href="#"><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
  </div>
</div>