<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>曲鸣网络科技有限公司</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="shortcut icon" href="img/provider/icon/logo.ico">
  <link rel="bookmark"  type="image/x-icon"  href="../img/pro"/>
  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">

  <!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <!-- header -->
  <div id="header"></div>
  <!-- end-header -->

  <!-- content -->
    <div class="content">
      <div class="tlinks">Collect from <a href="http://www.jsoso.cn/" >网页模板</a></div>
      <div class="layui-carousel imgbox"  id="test1">
        <div carousel-item  class="imgH">
          <div><img style="width: 100%" src="img/provider/bg/bg-1.jpg"></div>
          <div><img style="width: 100%" src="img/provider/bg/bg-2.jpg"></div>
        </div>
        <div class="slogan">
          <span class="theme">互联网解决方案提供商</span>
          <span class="msg" style="line-height: 30px;">专注于企业官网建设、定制系统开发、微信公众号开发、微信小程序开发、APP开发等。</span>
        </div>
      </div>
      <div class="prod-show">
        <div class="layui-fluid">
          <div class="row layui-col-space12 layui-clear">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
              <div class="img-txt">
                <img style="width: 100%;" src="../res/static/images/bottom-1.jpg" alt="">
                <h3>花艺包装</h3>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
              <div class="img-txt">
                <img style="width: 100%;" src="../res/static/images/bottom-2.jpg" alt="">
                <h3>花艺包装</h3>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
              <div class="img-txt">
                <img style="width: 100%;" src="../res/static/images/bottom-3.jpg" alt="">
                <h3>花艺包装</h3>
              </div>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
              <div class="img-txt">
                <img style="width: 100%;" src="../res/static/images/bottom-4.jpg" alt="">
                <h3>花艺包装</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="prod-descr">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="item layui-clear">
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <img src="../res/static/images/sy_img5.jpg" class="left-img">
              </div>
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <div class="text">
                  <h3>优秀包装设计美学</h3>
                  <p>本公司专门为您打造定制的商品包装。本公司专门为您打造定制的商品包装。</p>
                  <a href="details.html">查看更多 ></a>
                </div>
              </div>
              <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 bot-img-box">
                <div class="bot-img">
                  <img src="../res/static/images/sy_img6.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="layui-row">
            <div class="item layui-clear">
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <img src="../res/static/images/sy_img7.jpg" class="left-img">
              </div>
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <div class="text">
                  <h3>上等材质制作包装</h3>
                  <p>本公司专门为您打造定制的商品包装。本公司专门为您打造定制的商品包装。</p>
                  <a href="details.html">查看更多 ></a>
                </div>
              </div>
              <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 bot-img-box">
                <div class="bot-img">
                  <img src="../res/static/images/sy_img8.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="layui-row">
            <div class="item layui-clear">
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <img src="../res/static/images/sy_img9.jpg" class="left-img">
              </div>
              <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <div class="text">
                  <h3>高级设备流水制作</h3>
                  <p>本公司专门为您打造定制的商品包装。本公司专门为您打造定制的商品包装。</p>
                  <a href="details.html">查看更多 ></a>
                </div>
              </div>
              <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 bot-img-box">
                <div class="bot-img">
                  <img src="../res/static/images/sy_img610.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Partner">
        <div class="title">
          <h3>合作伙伴</h3>
          <h4>cooperative partner</h4>
        </div>
        <div class="cont-box">
          <div class="layui-fluid">
            <div class="row layui-col-space20">
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
              <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <h2>待合作</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- end-content -->

  <!-- footer -->
  <div id="footer"></div>
  <!-- end-footer -->
  <script>
  layui.use(['carousel','jquery','element'],function(){
    var carousel = layui.carousel,$ = layui.$;
      $("#header").load("header");
      $("#footer").load("footer");

      //建造实例
    carousel.render({
      elem: '#test1'
      ,width: '100%' //设置容器宽度
      ,arrow: 'always'
      ,height:'auto'
      //,anim: 'updown' //切换动画方式
    });
    $('.app-header-menuicon').on('click',function(){
      $('.header-down-nav').toggleClass('down-nav')
    })
    var imgH = $('.imgbox div.layui-this').outerHeight();
    $('.imgH').css('height',imgH+'px')
    window.onresize = function () {
      var imgH = $('.imgbox div.layui-this').outerHeight();
      $('.imgH').css('height',imgH+'px')
    };

  });
  </script>
</body>
</html>