<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>品质生活</title>
    <link rel="shortcut icon" href="img/bitbug_favicon.ico">
    <link rel="bookmark"  type="image/x-icon"  href="img/bitbug_favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/index.css" type="text/css">

</head>
<body>
    <div class="mainPage">
        <div id="site-nav">
            <div id="sn-by">
                <div id="sn-container">
                    <p id="login-info" class="sn-login-info">
                        <em>欢迎来到JSO</em>
                        <a class="sn-login" target="_top" onclick="window.location.href='login'">请登陆</a>
                        <a class="sn-register" onclick="window.location.href='register'">免费注册</a>
                    </p>
                    <ul class="sn-quick-menu">
                        <li><a>我的JSO</a></li>
                        <li><a><i class="glyphicon glyphicon-shopping-cart	"></i>购物车</a></li>
                        <li><a>客户服务</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mallSearch">
            <form class="mallForm">
                <input id="searchInput"><span></span>
                <button type="submit">搜索</button>
            </form>
        </div>
    </div>
</body>
</html>