<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center;color:red;">登陆成功</h1>
<h2 style="text-align:center" id="sessionTime"></h2>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    $.ajax({
        type: "post", //用Post方式传输
        dataType: "json", //数据格式:JSON
        url: '/sessionTime', //目标地址
        success: function (data) {
            data--;
            var timer=setInterval(function(){
                if(data>0){
                    jQuery("#sessionTime").html("Session过期时间:"+ data.toString()+"秒");
                    data--;
                }else{
                    clearInterval(timer);
                    alert("请重新登陆！");
                    window.location.href="";
                }
            },1000);
        }
    });
</script>
</html>