<!DOCTYPE html>
<html>

<head>
  <title>JSOSO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/login.css" type="text/css">
  <link rel="shortcut icon" href="img/bitbug_favicon.ico">
  <link rel="bookmark"  type="image/x-icon"  href="img/bitbug_favicon.ico"/>
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-danger text-center">WWW.JSOSO.CN</h1>
        </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <h2 class="mb-4 text-center">注册帐号</h2>
              <form  role="form" id="formCheckId" onsubmit="return false;" >
                <div class="form-group"> <label>邮箱</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="输入邮箱"/></div>
                <div class="form-group"> <label>密码</label>
                  <input type="password"  name="password" class="form-control" placeholder="输入密码"/> </div>
                <div class="form-group"> <label>确认密码</label>
                  <input type="password" name="confirmPassword" class="form-control" id="password" placeholder="确认密码"/> </div>
                <div class="form-group"> <label>验证码</label>
                  <input type="text"  style="width: 45%; display: inline-block" class="form-control" id="emailCodeInput" placeholder="邮箱验证码"/>
                  <input type="button" style="display: inline-block;margin-left: 5px;width:32%" id="emailCode" value="获取邮箱验证码" class="btn btn-default btn-lg btn-sm active" onclick="getEamilCode();" autocomplete="off"/></div>
                <button type="submit" class="btn btn-block btn-danger login-btn" id="submitBtn" >立即注册</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="js/popper.min.js" crossorigin="anonymous"></script>
  <script src="js/bootstrapValidator.js" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="js/app.js" crossorigin="anonymous"></script>
</body>

</html>