<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>曲鸣网络科技有限公司</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript" src="../res/layui/layui.js"></script>
    <link rel="shortcut icon" href="img/provider/icon/logo.ico">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- header -->
<!--<div id="header"></div>-->
<!-- end-header -->

<div class="header_box">
    <div class="header">
        <ul class="app-header">
            <li class="app-header-menuicon">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </li>
        </ul>
        <h1 class="logo">
            <a href="index">
                <img src="img/provider/icon/icon.png">
                <p style="display: inline-block; margin-left: 10px">曲鸣网络科技</p>
            </a>
        </h1>

        <div class="nav" style="visibility: visible">
            <a href="index">首页</a>
            <a href="introduction">品牌介绍</a>
            <a href="service">我们的服务</a>
            <a href="product">我们的产品</a>
            <a href="contact">联系我们</a>
        </div>
        <ul class="layui-nav header-down-nav">
            <li class="layui-nav-item"><a href="index">首页</a></li>
            <li class="layui-nav-item"><a href="introduction">品牌介绍</a></li>
            <li class="layui-nav-item"><a href="service">我们的服务</a></li>
            <li class="layui-nav-item"><a href="product">我们的产品</a></li>
            <li class="layui-nav-item"><a href="contact">联系我们</a></li>
        </ul>
    </div>
</div>

<!-- service-content -->
<div class="service-content">

    <div class="service-big-img">
        <div class="service-img-text">
            <h3>用心服务</h3>
        </div>
    </div>
    <div style="width: 100%;height: 100%;">
        <div class="service-content-case">
            <div class="title">客户<span>案例</span></div>
            <div class="value">
                成熟的技术、不凡的品质、专业的服务，受到中国服务器用户的普遍青睐。在互联网，金融，通信，能源，企业，税务，教育，交通等各行业都已有广泛应用。
            </div>
        </div>

        <div class="service-case layui-container">
            <div class="layui-row layui-col-space30 ">
                <div class="layui-col-md4">
                    <img _initwidth="314" _initheight="305" src="img/provider/service-case-1.jpg"
                         onmouseover="bigger(this)" onmouseout="smaller(this)">
                </div>
                <div class="layui-col-md4">
                    <img _initwidth="314" _initheight="305" src="img/provider/service-case-2.jpg"
                         onmouseover="bigger(this)" onmouseout="smaller(this)">
                </div>
                <div class="layui-col-md4">
                    <img src="img/provider/service-case-3.jpg" onmouseover="bigger(this)" onmouseout="smaller(this)">
                </div>
                <div class="layui-row layui-col-space30 ">
                    <div class="layui-col-md4">
                        <img src="img/provider/service-case-4.jpg" onmouseover="bigger(this)"
                             onmouseout="smaller(this)">
                    </div>
                    <div class="layui-col-md4">
                        <img src="img/provider/service-case-5.jpg" onmouseover="bigger(this)"
                             onmouseout="smaller(this)">
                    </div>
                    <div class="layui-col-md4">
                        <img src="img/provider/service-case-6.jpg" onmouseover="bigger(this)"
                             onmouseout="smaller(this)">
                    </div>
                </div>
            </div>
            <div class="service-case-more">
                <a >
                    <span>更多</span>
                </a>
            </div>
        </div>
        <!-- footer -->
        <div id="footer"></div>

        <!-- end-footer -->
        <script type="text/javascript">
            layui.use('jquery', function () {
                var $ = layui.$;
                $("#header").load("header");
                $("#footer").load("footer");

                //建造实例
                $('.app-header-menuicon').on('click', function () {
                    $('.header-down-nav').toggleClass('down-nav')
                })
                window.bigger = function (img) {
                    img.style.width = '364px';
                    img.style.height = '355px';
                    img.style.margin = '-25px';
                }
                window.smaller = function (img) {
                    img.style.width = '314px';
                    img.style.height = '305px';
                    img.style.margin = '0px';
                }
            });
        </script>
</body>
</html>